<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5 class="card-title">{{ character.name }}</h5>
                        <p class="card-text">
                            <strong>Status:</strong> {{ character.status }}<br>
                            <strong>Species:</strong> {{ character.species }}<br>
                            <strong>Type:</strong> {{ character.type }}<br>
                            <strong>Gender:</strong> {{ character.gender }}
                        </p>
</body>
</html>